*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    overflow: hidden;
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
}