
@keyframes circle{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.25);
    }
    100%{
        transform: scale();
    }
}
@keyframes circle2{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    75%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(5);
    }
}
@keyframes circleWrapper1{
    0%{
        width: 290px;
        height: 290px;
    }
    50%{
        width: 315px;
        height: 315px;
    }
    100%{
        width: 290px;
        height: 290px;
    }
}
@keyframes circleWrapper2{
    0%{
        width: 290px;
        height: 290px;
    }
    50%{
        width: 390px;
        height: 390px;
    }
    75%{
        width: 270px;
        height: 270px;
    }
    100%{
        width: 2000px;
        height: 2500px;
    }
}
@keyframes moveSlide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-600%);
    }
}
@keyframes slideItemScale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.2);
    }
}
@keyframes slideItemScale2{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    75%{    
        transform: scale(1.3);
    }
    100%{
        transform: scale(1.2);
    }
}
@keyframes slideItemScaleDown{
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.main-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    padding: 38px;
    width: 100%;
}
.main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1080px;
    height: 1920px;
}
.circle-wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 9999;
    background-color: #f4f4f5;
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    animation: circleWrapper1 1.25s ease,
                circleWrapper2 1.5s 2s ease forwards;
    background-color: #f5f5f5;
    border: 100vw solid #192440;
    box-sizing: content-box;
}
.circle>span{
    border-radius: 100px;
    width: 100px;
    height: 100px;
    animation: circle 1.25s ease,
                circle2 2s 2s ease forwards;
    background-color: #f4f4f5;
}
.circle1{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    transform: translate(-50%,-50%);
    font-style: italic;
    z-index: 50;
}
.text2{
    z-index: 0;
}
.text1{
    z-index: 0;
}
.intro-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}
.wrap{
    position: relative;
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
}

.clock{
    display: flex;
    font-size: 32px;
    font-family: "apple-500",sans-serif;
    font-weight: 500;
    color: #383838;
}
.main-header.white .clock{
    color: #fff;
}
.clock span{
    margin-right: 10px;
}
.qr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qr .qr-img{
    width: 128px;
    height: 128px;
    border-radius: 25%;
    border: 1px solid #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 14px;
}
.qr p{
    font-size: 28px;
    font-family: "apple-400",sans-serif;
    font-weight: 400;
    color: #2b2b2b;
}
.main-header.white .qr p{
    color: #fff;
}
.main-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 122px;
    text-align: center;
    white-space: nowrap;
}
.main-title h1{
    margin-bottom: 50px;
}
.main-title h2{
    font-size: 107px;
    font-family: "apple-600";
    font-weight: 600;
    background: linear-gradient(to right, #4873ff, #7854ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.main-title h3{
    font-size: 56px;
    font-family: "apple-500";
    color: #131313;
    line-height: 60px;
    margin-bottom: 20px;
}
.main-title p{
    font-size: 32px;
    font-family: "apple-400";
    color: #606162;
}
.event-popup{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px;
    background-color: #fff;
    border-radius: 50px 50px 0 0;
    padding: 0 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-popup h4{
    font-size: 39px;
    font-family: "apple-600";
    color: #2f2f2f;
    font-weight: 600;
    line-height: 72px;
}
.event-popup p{
    font-size: 32px;
    font-family: "apple-500";
    color: #858585;
    font-weight:500;
}
.main-slide{
    position: absolute;
    top: 810px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999999;
    width: 100%;
    height: 535px;
}
.main-slide ul{
    display: flex;
    height: 535px;
    width: auto;
}
.main-slide .slide-item{
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    animation: slideItemScaleDown 0.5s ease forwards;
}
.main-slide .slide-item.scale{
    animation: slideItemScale2 0.5s ease forwards;
}
.main-slide .slide-item.v-small{
    width: 194px;
    height: 194px;
}
.main-slide .slide-item.small{
    width: 224px;
    height: 224px;
}
.main-slide .slide-item.big{
    width: 288px;
    height: 288px;
}
.main-slide .slide-item img{
    width: 100%;
}
.main-slide-wrap{
    height: 100%;
    position: relative;
    width: auto;
    height: 535px;
    display: flex;
    animation: moveSlide 60s linear infinite;
    left: 100vw;
    transform: translateX(0);
}
.main-slide-wrap ul{
    position: relative;
    top: 0;
    left: 0;
    margin-right: 30px;
}
.main-slide-wrap ul li:nth-child(1){
    margin-top: 0;
}
.main-slide-wrap ul li:nth-child(2){
    margin-top: 250px;
    margin-left: -44px;
}
.main-slide-wrap ul li:nth-child(3){
    margin-top: 5px;
    margin-left: -70px;
}
.main-slide-wrap ul li:nth-child(4){
    margin-top: 250px;
    margin-left: -40px;
}
.main-slide-wrap ul li:nth-child(5){
    margin-top: 0;
    margin-left: -30px;
}
.photo-link{
    position: absolute;
    left: 50%;
    bottom: 290px;
    transform: translateX(-50%);
    width: 450px;
    height: 128px;
    background: linear-gradient(to right, #4873ff, #7854ff);
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-family: "apple-500";
    font-weight: 500;
}
.photo-link i{
    width: 65px;
    height: 65px;
    background: url("../img/icon/ico-photo.png") no-repeat center / cover;
    margin-right: 25px;
}
.photo-link span{
    margin-bottom: 7px;
}
.camera-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.camera-container .camera-dummy{
    position: absolute;
    top: 0;
    left: 0;
    width: 930px;
    height: 1180px;

    left: 50%;
    top: 238px;
    transform: translateX(-50%);
}
.camera-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.camera-dummy-item{
    position: absolute;
    width: 68px;
    height: 68px;
}
.left{
    left: 0;
}
.top{
    top: 0;
}
.bottom{
    bottom: 0;
}
.right{
    right: 0;
}
.camera-dummy-item span{
    background-color: #fff;
    position: absolute;
}
.camera-dummy-item:nth-child(1) span:nth-child(1),
.camera-dummy-item:nth-child(2) span:nth-child(1){
    width: 68px;
    height: 11px;
    top: 0;
}
.camera-dummy-item:nth-child(1) span:nth-child(2),
.camera-dummy-item:nth-child(2) span:nth-child(2){
    width: 11px;
    height: 68px;
}
.camera-dummy-item:nth-child(3) span:nth-child(1),
.camera-dummy-item:nth-child(4) span:nth-child(1){
    width: 11px;
    height: 68px;
}
.camera-dummy-item:nth-child(3) span:nth-child(2),
.camera-dummy-item:nth-child(4) span:nth-child(2){
    width: 68px;
    height: 11px;
}
.camera-dummy-item:nth-child(1) span:nth-child(2){
    left: 0;
}
.camera-dummy-item:nth-child(2) span:nth-child(2){
    right: 0;
}
.camera-dummy-item:nth-child(3){
    transform: rotate(270deg);
}
.camera-dummy-item:nth-child(4){
    transform: rotate(180deg);
}
.camera-title{
    position: absolute;
    top: 134px;
    left: 50%;
    transform: translateX(-50%);
}
.camera-title p{
    font-size: 38px;
    font-family: "apple";
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.back-link{
    position: absolute;
    left: 50%;
    bottom: 225px;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-link i{
    width: 38px;
    height: 38px;
    background: url("../img/icon/ico-close.png") no-repeat center / cover;
}